*{
    box-sizing: border-box;
    margin: 0;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/*nav{*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    background:white;*/
/*    color: black;*/
/*    display: flex;*/
/*    justify-content:space-between ;*/
/*    align-items: center;*/
/*    padding: 0px 80px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    z-index: 999;*/
/*}*/

.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size:17px;
}
.menu-item
{
   color: black;

}
.menu-item a:hover
{
   color:#d4af37;
}

.icon i:hover{
    color: #ec5d0b;
}
.icon i{
    font-size: 20px ;
}

.icon a{
    text-decoration: none;
    background: #d4af37;
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.icon a:hover{
    background-color: rgb(184, 32, 32);
    color: rgb(255, 251, 251);
}
.btn{
    background-color: #d4af37;
}
.slider-img{
    opacity: 80%;
}
.horizontal {
    width: 10%;
    height: 2px;
    background-color: #d4af37;
    border: none;
}
*p{
    font-family: 'Source Sans Pro';
    font-size: 1rem;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 46px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.enjoy__clock-icon{
    position: relative;
    top: 45px;
    left: -13px;
    height: 30px;
    width: 30px;
}
.enjoy__coffee-icon{
    position: relative;
    top: 45px;
    left: -13px;
    height: 30px;
    width: 30px;
}
.enjoy__database-icon{
    position: relative;
    top: 45px;
    left: -13px;
    height: 30px;
    width: 30px;
}
.enjoy__wifi-icon{
    position: relative;
    top: 45px;
    left: -13px;
    height: 30px;
    width: 30px;
}
.page-header{
    text-align: center;
    padding-top: 40px;
    font-family: 'Source Sans Pro';
    font-size: 40px;
    font-weight: bold;
}
.page-hr{
    width: 10%;
    height: 2px;
    background-color: #d4af37;
    border: none;
}
.offers-sub-title {
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
}
.list {
    list-style: none;
    margin-left: -6px;
}
.list-icon {
    height: 17px;
    vertical-align: middle;
    margin-right: 5px;
}
.list-text {
    display: inline-block;
    font-size: 18px;
}

.review{
    text-align: center;
    padding-top: 30px;
    font-family: 'Source Sans Pro';
    font-size: 40px;
    font-weight: bold;
}
.reviews .des{
    font-family: 'Source Sans Pro';
    font-size: 20px;
}
.reviews img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-left: 130px;

}
.reviews .card{
    padding: 2rem;
    transform: scale(0.9);
    box-shadow: 2px 7px gray;
}
.reviews .content{
    font-size: 1.2rem;
    color: black;
}
.reviews .content h3{
    font-size: 1.7rem;
    color: black;
    margin-left: 20px;

}
.reviews .stars i{
    font-size: 1.7rem;
    color:#f9d806;
    padding-top: 2rem;
    text-align: center;
}
.footer{
    background:#ffee80;
    margin-top: 10px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.2rem;
    margin-left: 100px;

}

.footer .box-container .box h3{

    color:black;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: 1px;
    margin-bottom: -5px;
}
.footer .box-container .box a{

    color: black;
    font-size: 1rem;
    display: block;
    padding: 10px 0;
    text-decoration: none;


}
.footer .box-container .box a i{
    padding-right: 0.5rem;
    color: black;

}
.footer .box-container .box a:hover i{
    padding-right: 1rem;


}
.footer .credit{
    text-align: center;
    border-top:gray;
    padding: 1rem;
    /*padding-top: 2.5rem;*/
    margin-top: 2rem;
    font-size: 30px;

}
